/*/node_modules
/client/public
server/.env
client/.env
client/codegen.yml
client/.eslintcache
client/yarn.lock
server/package-lock.json
server/yarn-error.log
server/yarn.lock
server/.env.production
client/.env.production
client/firebase.json
client/.firebaserc
client/.firebase/
server/deploy.sh
